<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Konfirmoni fshirjen</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div>
        <button style = "margin-left: 70%;" type="button" class="btn btn-danger" (click)= "deleteProject()">Fshi</button>
        <button style = "margin-left: 10px;" type="button" class="btn btn-secondary" (click)="closeModal()">Anullo</button>
    </div>
  </div>
 
