.card-footer{
      margin-bottom:0;
    }
    .image-upload > input
{
    display: none;
}

.align-left{
  text-align: left !important;
}

.push-right{
  float: right;
}
.imgCarousel1 {
  height: 200px;
  width: 100%;
  object-fit: cover; 
} 