<div style="padding-top:50px"></div>




<div class="container">
    <button type="button" class="btn btn-secondary" (click)="addNewImage()">
        <svg class="bi bi-images" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 00-1 1v8a1 1 0 001 1h10a1 1 0 001-1V5a1 1 0 00-1-1zm-10-1a2 2 0 00-2 2v8a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2h-10z" clip-rule="evenodd"/>
            <path d="M10.648 8.646a.5.5 0 01.577-.093l1.777 1.947V14h-12v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
            <path fill-rule="evenodd" d="M4.502 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM4 2h10a1 1 0 011 1v8a1 1 0 01-1 1v1a2 2 0 002-2V3a2 2 0 00-2-2H4a2 2 0 00-2 2h1a1 1 0 011-1z" clip-rule="evenodd"/>
          </svg>
        </button>
    <div class="row text-center text-lg-left">
     
        <div class="col-lg-3 col-md-4 col-6"  *ngFor="let image of album; let i=index">
          <a  class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail imgCarousel" [src]="image.thumb" (click)="open(i)" />
                


                <div class="progress" *ngIf="uploadProgress != 0 && uploadProgress != 100 && currentImageId==image.key">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }" aria-valuenow="0"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                <footer>
                    <div class="row">
                      <div class="image-upload" style="margin-left: 15px;margin-top: 7px;">
                        <label for="{{image.key}}">
                          <svg class="bi bi-card-image" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z"
                              clip-rule="evenodd" />
                            <path
                              d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z" />
                            <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd" />
                          </svg>
                        </label>
                        <input class="mt-auto" id={{image.key}} type="file" #userPhoto (change)="onFileSelected($event)" name="image"
                          autocomplete="off" />
                      </div>
              
                      <button type="button" class="btn btn-default" style="margin-left: 10px;" (click)="openModalConfirm(image.key)">
                        <svg class="bi bi-trash" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                          <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                            clip-rule="evenodd" />
                        </svg>
                      </button>
                    </div>
                  </footer>
                  
               
              </a>
             
        </div>
        
    </div>

 

</div>

