<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Teksti i projektit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
     
          
            <ngb-tabset [destroyOnHide]="false">

          <ngb-tab title="Shqip">
            
            <ng-template ngbTabContent>
              <div *ngIf="modalData.titulli">
                <label for="titulliInputShqip">Titulli shqip</label>
        
                <input type="text" class="form-control" id="titulliInputShqip" [(ngModel)]="modalData.projektiShqipTitulli"   > <br />
            </div>
            <div>
            <label for="detajeInputShqip">Detaje shqip</label>  
            <textarea id="detajeInputShqip"  class="form-control" rows="25" style="min-width: 100%;" h-100 [(ngModel)]="modalData.projektiShqipDetaje" type="text">
             </textarea>
            </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Anglisht">
            <ng-template ngbTabContent>
              <div *ngIf="modalData.titulli">
                <label for="titulliInputAnglisht">Titulli anglisht</label>
        
                <input type="text" class="form-control" id="titulliInputAnglisht" [(ngModel)]="modalData.projektiAnglishtTitulli"  > <br />
            </div>
            <div>
              <label for="detajeInputAnglisht">Detaje anglisht</label>  
             <textarea id="detajeInputAnglisht" class="form-control" rows="25" style="min-width: 100%;" [(ngModel)]="modalData.projektiAnglishtDetaje" type="text"> </textarea>
            </div>
            </ng-template>
          </ngb-tab>            
           
        </ngb-tabset>
        </div>

    <button (click)="passBack()" type="submit" class="btn btn-primary w-100" style="margin-top: 3%;">Ruaj</button>
  </div>

  




 