<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Teksti i projektit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <div *ngIf="modalData.titulli">
        <label for="titulliInput">Titulli</label>

        <input type="text" class="form-control" id="titulliInput" [(ngModel)]="modalData.projektiShqipTitulli"  placeholder="Titulli" > <br />
    </div>
          
            <ngb-tabset [destroyOnHide]="false">

          <ngb-tab title="Shqip">
            <ng-template ngbTabContent>
             <textarea class="form-control" rows="25" style="min-width: 100%;" h-100 [(ngModel)]="modalData.projektiShqipDetaje" type="text">
             </textarea>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Anglisht">
            <ng-template ngbTabContent>
             <textarea class="form-control" rows="25" style="min-width: 100%;" [(ngModel)]="modalData.projektiAnglishtDetaje" type="text"> </textarea>
            </ng-template>
          </ngb-tab>            
           
        </ngb-tabset>
        </div>
    <!-- <input [(ngModel)]="modalData.projektiShqip" type="text"> -->
    <!-- <input [(ngModel)]="modalData.projektiShqip" type="number"> -->
    <button (click)="passBack()" type="submit" class="btn btn-primary w-100" style="margin-top: 3%;">Ruaj</button>
  </div>

  




 